.cache/
.env
.env.*
!.env.*.example
!.env.example
!.env.fish
.next/
.pnpm-store/
.turbo/
*.tsbuildinfo
coverage/
data/
dist/
infra/dev.yml
node_modules/
truereflection-dev/

# Helm chart dependencies
k8s/charts/*/charts/*.tgz
