SERVER_NAME=name
WORLD_NAME=name
SERVER_PASS=password
SERVER_PUBLIC=true
PUID=1000
PGID=1000
TZ=America/Los_Angeles

BACKUPS_CRON=0 * * * *
BACKUPS_MAX_COUNT=10
BACKUPS_MAX_AGE=3
BACKUPS_DIRECTORY=/config/backups

UPDATE_CRON=0 5 * * *
UPDATE_WHEN_IDLE=true

RESTART_CRON=0 4 * * *
