DATABASE_URL=postgresql://yoink:changeme@yoink-db:5432/yoink

POSTGRES_DB=yoink
POSTGRES_USER=yoink
POSTGRES_PASSWORD=changeme

AUTH_SECRET=changeme
AUTH_GOOGLE_ID=id
AUTH_GOOGLE_SECRET=secret

ADMIN_EMAIL=admin@example.com
