# Copy this file to .env and customize as needed.
# .env is gitignored; this example file is committed.

API_TOKEN=token
APPLICATION_ID=id
CLIENT_ID=id
CLIENT_SECRET=secret
DEV_GUILD_ID=id
PUBLIC_KEY=key
